.main-wrapper {
  height: 80%;
  width: 100%;
  background: rgb(102, 58, 160);
  padding: 1rem 1rem 1rem 1rem;
}

.task-list-container {
  background: rgb(102, 58, 160);
}

.task-list {
  list-style-type: none;
}

.list-element {
  margin: 5px;
  background: rgb(27, 112, 98);
  border-radius: 20px;
}
